body {
	background-color: black;
}

.main {
	background-color: white;
	height: 500px;
	min-width: 1200px;
	margin-top: 110px;
	padding-left: 100px;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
	height: 494px;
	width: 659px;	
}

.ryu-ready, .ryu-cool, .ryu-still, .ryu-throwing {
	height: 494px;
	width: 659px;
}

.hadouken, .ryu-cool, .ryu-ready, .ryu-throwing { 
	display: none;
}

.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	height: 90px;
	width: 156px;
	float: left;
	position: absolute;
	z-index: 10;
	top: 169px;
	left: 575px;
	float: left;
}

#throw-instruction, #pose-instruction {
	color: red;
	font-family: "Bangers", serif;
	font-size: 2.5em;
	position: absolute;
	z-index: 20;
}

#throw-instruction {
	max-width: 400px;
	top: 24px;
	left: 500px;
}

#pose-instruction {
	max-width: 500px;
	top: 395px;
	left: 600px;
}